.App {
  background-color:#28818d;
  overflow: hidden;
}

label {
  display: block;
  color: white;
  margin-bottom: 10px;
}
.todo {
  background-color: #a9cbcf;
  max-width: 500px; 
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 2px;
  line-height: 1.9em;
  overflow: hidden;
  padding-left: 20px ;
  color: white;
  box-sizing: border-box;
}
.todo p {
  display: inline-block;
}
.todo button {

  float: right;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 2px;

}

.wrapper {
  background-color: #00bcd4;
  padding: 50px;
  margin: 50px;
  width: 40%;

}

.wrapper input {
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  height: 30px;
  padding-left: 20px ;
  box-sizing: border-box;
}
.wrapper button button {

  float: right;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 2px;

}